@import "../less/bootstrap.less";

@black: darken(#444499, 30%);

.grayGradient
{
	background-image: linear-gradient(bottom, rgb(247,247,247) 100%, rgb(219,219,219) 0%, rgb(242,242,242) 72%);
	background-image: -o-linear-gradient(bottom, rgb(247,247,247) 100%, rgb(219,219,219) 0%, rgb(242,242,242) 72%);
	background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 100%, rgb(219,219,219) 0%, rgb(242,242,242) 72%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,247,247) 100%, rgb(219,219,219) 0%, rgb(242,242,242) 72%);
	background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 100%, rgb(219,219,219) 0%, rgb(242,242,242) 72%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(1, rgb(247,247,247)),
	color-stop(0, rgb(219,219,219)),
	color-stop(0.72, rgb(242,242,242))
	);
}

body
{
	color: @black;
	font: normal normal 14px/1.2em Helvetica, sans-serif;
	background: url('//static.duesome.benjaminbergstein.com/img/app-bg.png') repeat top left;
}

@import "clearfix.less";
@import "header.less";
@import "login.less";
@import "project.less";

#subpage-details table
{
	box-shadow: 0px 2px 11px -3px  #797979;
	border: none;
	background: rgba(255, 255, 255, 0.55);
}

#subpage-details table thead
{
	background-image: linear-gradient(bottom, rgb(212,212,212) 0%, rgb(235,235,235) 100%);
	background-image: -o-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(235,235,235) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(235,235,235) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(235,235,235) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(235,235,235) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(212,212,212)),
		color-stop(1, rgb(235,235,235))
	);
}

.pagination li a,
.pagination li.disabled a
{
	background: rgba(255,255,255,0.55);
}

.pagination li.disabled a:hover
{
	background: #f5f5f5;
}
